body,
html {
    height: 100%;
    margin: 0;
    background: url('../../assets/img/clipboard-image.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.left-section h1 {
    font-weight: bold;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

